<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Survey</title>
    </head>
    <body>
        <h1>แบบสอบถาม</h1> 

 <FORM method="POST" >
           Question
           <br>
           <input name="ask" id="ask_new" placeholder="What time is it?" />
           <br>           
	   choice:1
           <br>
           <input name="ans1" id="ans1_new" placeholder="13.00"/>
           <br>
           choice:2
           <br>
           <input name="ans2" id="ans2_new" placeholder="14.00"/>
           <br>
           choice:3
           <br>
           <input name="ans3" id="ans3_new" placeholder="15.00"/>
           <br>
           choice:4
           <br>
           <input name="ans4" id="ans4_new" placeholder="16.00"/>
           <br>
            <INPUT Type = "submit" VALUE="สร้างคำถาม" id="button" >
            <INPUT Type = "hidden" value = "send" name = "button_send">
            {% csrf_token %}

</FORM> 
          <FORM method="POST">   
                     <INPUT Type = "submit" VALUE="all" id="button_date" >  
                     <INPUT Type = "hidden" value ="send_date" name = 'date'>   
                     <INPUT Type = "submit" VALUE="today" id="button_day" >                      
                     <INPUT Type = "hidden" value ="send_day" name = 'day'> 
                     <INPUT Type = "submit" VALUE="week" id="button_week" >     
                     <INPUT Type = "hidden" value ="send_week" name = 'week'> 
                     <INPUT Type = "submit" VALUE="month" id="button_month" >  
                     <INPUT Type = "hidden" value ="send_month" name = 'month'>
                     <INPUT Type = "submit" VALUE="year" id="button_year" >  
                     <INPUT Type = "hidden" value ="send_year" name = 'year'>
                     {% csrf_token %}
          </FORM>
        <table id="id_list_table" border=1>
                <tr align=center>
                <td>Question</td>
                <td>Answer</td>
                <td>show</td>
                <td>time</td>
                <td>delete</td>
                </tr>
               {% for q in questions %}
                <tr>                
                 <td>{{ q.quest }}</td>
                 <td>
<form method="POST" action="/{{q.id}}">
<div class="ans">
    <input class="ans ans-1" id="ans-1" type="radio" name="ans" value="{{ q.ans1 }}" />
    <label class="ans ans-1" for="ans-1"></label>{{ q.ans1 }}
    <input class="ans ans-2" id="ans-2" type="radio" name="ans" value="{{ q.ans2 }}"  />
    <label class="ans ans-2" for="ans-2"></label>{{ q.ans2 }}
    <input class="ans ans-3" id="ans-3" type="radio" name="ans" value="{{ q.ans3 }}"  />
    <label class="ans ans-3" for="ans-3"></label>{{ q.ans3 }}
    <input class="ans ans-4" id="ans-4" type="radio" name="ans" value="{{ q.ans4 }}"  />
    <label class="ans ans-4" for="ans-4"></label>{{ q.ans4 }}
</div>
            <input type= "submit"   value="answer"           id="ans_id"  >
            <input type= "hidden"   value="send_ans"          name="send_ans">
            <INPUT Type = "hidden"  value ="{{ q.id }}"   name = 'id_ans'>
	    <br>
            {% csrf_token %}
        </form>

</td>
                 <td>{{ q.answer }}</td>
                 <td>{{ q.add_date }}</td>
                 <td>
                 <FORM method="POST">
                     <INPUT Type="submit" VALUE="delete" id="button_d" >      
                     <INPUT Type = "hidden" value ="delete" name = 'delete'>
                     <INPUT Type = "hidden" value ="{{ q.id }}" name = 'id_delete'>
                     {% csrf_token %}
                 </FORM>
                 </td>
                </tr>
            {% endfor %}
        </table>
     </body>
</html>

